.header {
  background-color: #F56600;
  text-align: left;
  padding: 10px;
  color:white;
  border-radius: 25px;
}
body {
    background-color: #878787;
    font-family: 'Arial', Courier, monospace;
  }

  ul.navbar{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  li.navitem{
    display: inline;
  }


  div.a{
    text-indent: 25px;
  }
  div.b{
    text-align: center;
  }

  .footer {
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
    content:"If I knew what license I needed, it would "
  }